<script>
function toggleForm(id1, id2) {
    para =  $(id1);
    para.removeAttr("hidden");
    
    btn = $(id2);
    btn.attr("hidden","true");
}
</script>

<%= render 'navbar' %>
<% content_for :title, "Title for specific page" %>

<div class="container">
    <br>
    <div class="row">
         <div class="col-4 "></div>
         <div class="col-4 text-center">
        <button id = "create_btn" class="btn btn-lg btn-outline-success btn-block" onClick="toggleForm('#add_new_item', '#create_btn')">Add New To-Do</button>
        </div>
        <div class="col-4"></div>
    </div>
    </br>
  
    <%= form_with(model: @item) do |form| %>

    <div class="form-row" id= "add_new_item" hidden>
            <div class="form-group col-md-6">
                <%= form.label :name, 'Item Name *:' %><br>
                <%= form.text_field :name, class: "form-control", id: "item_name", :include_blank => true %>
            </div>
    
           <div class="form-group col-md-6">
                <%= form.label :date, 'Due Date: (optional)' %><br>
                <%= form.date_field :date, class: "form-control" %>
            </div>
            
            <div class= "col">
                 <lable>  </lable>
                 <%= form.submit 'Add To List ', class: "btn btn-primary"%>
            </div>
            <div class= "col">
                 <lable>  </lable>
                 <%= link_to 'Cancel', items_path, class: 'btn btn-secondary', onClick: "toggleForm('#create_btn','#add_new_item')" %>
            </div>
            <br>
    </div>        
    <% end %>
    
    
    <form id="edit_item_form">
    </form>
    
    <br>
    <table id="items" class="table table-hover text-center" >
        <thead  class="thead-dark">
            <tr>
                <th scope="col">To-do Item</th>
                <th scope="col">Due Date</th>
                 <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
               <%= render @items %>
        </tbody>    
    </table>
    
    
    <br>    
</div>

