<script>
function showAddForm(id) {
    para =  $(id);
    para.removeAttr("hidden");
}

function hideAddForm(id) {
    para =  $(id);
    para.attr("hidden","true");
}
</script>

<%= render 'navbar' %>

<div class="container">
    <h1>List</h1>
    <div class="row">
        <button id = "create btn" class="btn btn-lg btn-success btn-block" onClick="showAddForm('#add_new_item')">Create</button>
    </div>
    
    
    <%= form_with(model: @item) do |form| %>
    <div class="form-row" id= "add_new_item" hidden>
            <div class="form-group col-md-6">
                <%= form.label :name, 'Item Name:' %><br>
                <%= form.text_field :name, class: "form-control" %>
            </div>
    
           <div class="form-group col-md-6">
                <%= form.label :date, 'Due Date (yyyy-mm-dd):' %><br>
                <%= form.text_field :date, class: "form-control" %>
            </div>
            
            <div class= "col">
                 <lable>  </lable>
                 <%= form.submit 'Add To List ', class: "btn btn-primary"%>
            </div>
            <div class= "col">
                 <lable>  </lable>
                 <!--<button class="btn btn-secondary" onClick="hideAddForm('#add_new_item')">Cancel</button>-->
                 <%= link_to 'Cancel', items_path, class: 'btn btn-secondary', onClick: "hideAddForm('#add_new_item')" %>
            </div>
            <br>
    </div>        
    <% end %>
    
    
    <form id="edit_item_form">
    </form>
    
    <br>
    <table id="items" class="table table-hover text-center" >
        <thead>
            <tr>
                <th scope="col">To-do Item</th>
                <th scope="col">Due Date</th>
                 <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
               <%= render @items %>
        </tbody>    
    </table>
    
    
    <br>    
</div>

