<h1>List</h1>

<%= form_with(model: @item) do |form| %>
        <p>
            <%= form.label :name, 'Item Name' %><br>
            <%= form.text_field :name %>
        </p>
        
        <p>
            <%= form.label :date, 'Due Date (yyyy-mm-dd)' %><br>
            <%= form.text_field :date %>
        </p>
        
        <p>
            <%= form.submit 'Save Item' %>
        </p>
    
<% end %>
<table id="items">
        <tr>
        <th>To-do Item</th>
        <th>Due Date</th>
    </tr>
        <%= render @items %>
</table>

<%= link_to 'Show completed Items', show_completed_path %>
<br>
