<h1>List</h1>

<%= link_to 'Add New Item', new_item_path %>

<table>
    <tr>
        <th>To-do Item</th>
        <th>Due Date</th>
    </tr>
    
    <% @items.each do |i| %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.date %></td>
            <td><%= link_to 'Show', item_path(i) %></td>
            <td><%= link_to 'Edit', edit_item_path(i) %></td>
            <td><%= link_to 'Mark as Done', mark_item_path(i) unless i.done %></td>
        </tr>
    <% end %>
    
</table>

